module.exports = {
	dev: {
		host: '127.0.0.1',
		port: '27017',
		username: '',
		password: '',
		database: 'lagou-spider'
	},
	pro: {
		host: '',
		port: '',
		username: '',
		password: '',
		database: 'lagou-spider'
	}
};
